@import 'mirotone/dist/styles.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #eee;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

form { 
  max-height: 95vh;
    overflow: auto;
    padding: 0 1em;
}

.info {
  padding: 0 0 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.info p {
  font-size: 0.8em;
  margin: 0;
  font-style: italic;
}

.colors {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.6em;
  padding: 0.75em 0.2em;
}

.colors .color {
  flex: 0 0 22%;
  font-size: 1.2em;
  aspect-ratio: 2/1;
  border: 1px solid var(--indigo400);
  border-radius: 5px ;
  cursor: pointer;
  outline-offset: 2px;
  transition: outline-offset 1s;
}

.colors .color.active {
  box-shadow: none;
  outline: 2px solid var(--blue700);
}

.colors .color:is(:focus, :hover) {
  outline: 2px solid var(--red700)
}

form .form-group {
  margin-bottom: 8px;
}

form .form-group > label {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
}

form .form-group > label .icon {
  --icon-size: 1em;
  background-size: contain;
  cursor: help;
}

form .button {
  --space-small: 4px;
  width: 100%;
  margin: 8px 0;
}

form .button-select {
  display: inline;
}

form .color-label {
  display: flex;
  gap: 0.75em;
  align-items: center;
  justify-content: space-between;
}

form .color-label label {
  margin-bottom: 6px;
}

form .color-label label.toggle {
  display: flex;
}

form .toolbar {
  position: sticky;
  bottom: 0;
  background: white;
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

form .toolbar .contact {
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;
}

form .toolbar .contact .icon {
  cursor: pointer;
}

form details {
  --border-top-radius: 5px;
  --border-bottom-radius: 5px;
}

form details[open] {
  --border-bottom-radius: 0;
}

summary {
  display: block;
}

form details summary::after {
  margin-left: 1ch;
  display: inline-block;
  transition: 0.2s;
  content: '\203A'; /* chevron */
  font-size: 1em;
}


form details[open] summary::after {
  transform: rotate(90deg);
}

form details summary {
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
  font-size: 0.8em;
  background-color: var(--indigo50);
  padding: 0.5em;
  border-radius: var(--border-top-radius) var(--border-top-radius) var(--border-bottom-radius) var(--border-bottom-radius);
}

form details > section {
  border: 2px solid var(--indigo50);
  padding: 0.5em;
}
